@model Car
    <div class="col-lg-4">
        <img class="img-thumbnail" src="@Model.Image" alt="@Model.Name" />
        <h2>Модель: @Model.Name</h2>
        <p>@Model.ShortDescrip</p>
        <p>Цена: @Model.Price.ToString("c")</p>
        <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@Model.Id">Добавить в корзину</a></p>
    </div>